<%- include('../partials/head', { title: 'Add user to subject'} ) %>
<body>
    <%- include('../partials/navbar', { user }) %>

    <table class="table">
        <tr>
            <th>_id</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Actions</th>
        </tr>
        <% for (let p = 0; p < students.length; p++) { %>
            <% const student = students[p]; %>

            <% // console.log(JSON.stringify(student,null,4)) %>
            <% if (student.subjectId == subject.id) { 1 }%>

            <tr>
                <td><%= student.id %></td>
                <td><%= student.name %></td>
                <td><%= student.surname %></td>
                <td>
                    <a href="/subjects/view/<%= subject.id %>/addstudent/<%= student.id %>">Add</a>
                </td>
            </tr>
            
        <%} %>
    </table>

   
    

    
    <%- include('../partials/footer') %>
</body>
</html>