<%- include('../partials/head', { title: 'School View'}) %>
<body>
    <%- include('../partials/navbar') %>

    <h3>School:</h3>
    <table class="table">
        <tr>
            <th>_id</th>
            <td><%= subjectToView.id %></td>
        </tr>
        <tr>
            <th>Name</th>
            <td><%= subjectToView.name %></td>
        </tr>
        <tr>
            <th>Description:</th>
            <td><%= subjectToView.description %></td>
        </tr>
        <tr>
            <th>Teacher</th>
            <td> 
                <%= htmlHelper.getElValueFromArrById(teachers, subjectToView.teacherId, 'name') %>
            </td>
        </tr>
        <tr>
            <th>School</th>
            <td> 
                <%= htmlHelper.getElValueFromArrById(schools, subjectToView.schoolId, 'name') %>
            </td>
        </tr>
    </table>
    <a href="/subjects/edit/<%= subjectToView.id %>">
        <button class="btn">Edit subject</button>
    </a>
    

    <%- include('../partials/footer') %>

</body>