<%- include('../partials/head', { title: 'Add School'}) %>
<body>
    <h3>Admin panel</h3>
    <%- include('../partials/navbar', { user}) %>
 
    <h3>Add school:</h3>

    <form action="/admin/schools/edit" method="POST">
        <input type="text" name="id" value="<%= school.id %>" hidden>
        <div>
            <label for="nameControl" class="form-label">Name: </label>
            <input type="text" id='nameControl' name='name' value="<%= school.name %>" class="form-control">
        </div>
        <div>
            <label for="addressControl" class="form-label">Address: </label>
            <input type="text" id="addressControl" name="address" value="<%= school.address %>" class="form-control">
        </div>
        <div>
            <label for="controlDirector" class="form-label">Director</label>
            <select name="directorId" id="directorControl" class="form-control">
                <option value=""></option>
                
                <% for (const director of directors){ %>
                    <% const selected = (school.id == director.schoolId) ? 'selected' : '';  %>
                        
                    <option value="<%= director.id %>"  <%= selected %>>
                        <%= director.name %>
                        <%= director.surname %>
                    </option>
                <% } %>
            </select>
        </div>
        <div>
            <button class="btn">Edit</button>
        </div>
    </form>

    <%- include('../partials/footer') %>
</body>
</html>